environment      = "dev"
aws_region       = "ap-south-1"
project_prefix   = "iot-telemetry"
databricks_host  = "https://adb-DEV-WORKSPACE-ID.cloud.databricks.com"
catalog_name     = "iot_lakehouse_dev"
bronze_schema    = "bronze"
silver_schema    = "silver"
gold_schema      = "gold"
admin_group      = "data-platform-admins"
consumer_group   = "data-consumers"
